* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    /* Ensures the body takes full viewport height */
    margin: 40px 0;
    /* Removes default body margin */
}


.main-section {
    padding: 0 40px;
}

.container-content {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logo-form {
    margin-top: 10px;
}

.top-form {
    margin-top: 20px;
}


.email-password {
    margin-top: 25px;
}

.email-password input {
    padding: 5px 10px;
}

.signup-login {
    margin-top: 25px;
}

.signup-login button {
    padding: 8px 0;
}

.register-container {
    padding: 15px 20px;
}

.post-section textarea {
    padding: 10px 10px;
    margin-top: 10px;
}

.buttons {
    margin-top: 10px;
}

.buttons .img-button {
    padding: 8px 10px;
}

.buttons .post-button {
    padding: 8px 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    z-index: 1;
    margin-top: 10px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.show {
    display: block;
}

.feed-section {
    margin-top: 30px;
    padding-bottom: 30px;
}

.post-card {
    padding: 15px 15px;
    margin-top: 15px;
}

.content {
    margin-top: 15px;
}

.buttons-card {
    margin-top: 25px;
}

.image {
    margin-top: -50px;
}

.post-img {
    margin-top: 20px;
}

.post-image {
    margin-top: 15px;
}

#file {
    display: none;
}

.add-img {
    padding: 8px 10px;
}